body {
    background-color: #bdc3c7;
}

h1 {
    color:#9b59b6;
}

h1:hover{
    color: blue;
}

h2 { 
    color: orange;
}

li {
    color: rgb(21, 21, 168)
}

p {
    background-color: yellow;
}

input {
    border: red 3px solid;
}

 {
background-color: gray;}

.hello {
    background-color: white;
    
}

#special {
    border: blue 2px solid
}

div p {
    font-size: 25px;
}

[type="text"], [type="password"] {
    background: gray
}

.div:nth-child(3) {
    background-color: pink;
}


input:checked {
    margin-left: 50px;
}

label {
    text-transform: uppercase;
}

#special::first-letter {
    color: green;
    font-size: 100;
}

a:visited {
    color: gray;
}